<section id="page-content">
  <div class="container">
    <h1>Editar noticia</h1>

    <%= render 'form', notice: @notice %>

    <%= link_to 'Ver noticia', @notice %> |
    <%= link_to 'Atras', notices_path %>
  </div>
</section>
