<div class="row">
	<div class="col-lg-4 admin-icon">
		<a href="/news">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Noticias</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/news">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Textos Informativos</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/news">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Portadas</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/news">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Cursos</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/news">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Comentarios</h3>
		</a>
	</div>
</div>