<div class="row">
	<div class="col-lg-12">
		<div class="alert alert-success">
		  <p id="notice"><%= notice %></p>
		</div>
		
	</div>
</div>
<div class="row">
	<div class="col-lg-4 admin-icon">
		<a href="/notices">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Noticias</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/info_texts">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Textos Informativos</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/covers">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Portadas</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/courses">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Cursos</h3>
		</a>
	</div>
	<div class="col-lg-4 admin-icon">
		<a href="/comments">
			<i class="fa fa-address-book" aria-hidden="true"></i>
			<h3>Comentarios</h3>
		</a>
	</div>
</div>