<section id="page-content">
  <div class="container">
    <h1>Editar texto informativo</h1>

    <%= render 'form', info_text: @info_text %>

    <%= link_to 'Ver', @info_text %> |
    <%= link_to 'Atras', info_texts_path %>
  </div>
</section>
