<section id="page-content">
  <div class="container">
    <h1>Editar curso</h1>

    <%= render 'form', course: @course %>

    <%= link_to 'Ver curso', @course %> |
    <%= link_to 'Atras', courses_path %>
  </div>
</section>
