<section id="courses">
  <div class="container">
    <div class="row text-center" style="margin-bottom: 50px;">
      <h2 class="title-one"><%= @title %></h2>


      <ul class="circle-course-list">
          
              <li class="col-sm-12 col-lg-4">
                <div class="course-icon">
                  <h3><a href="#">Curso de prueba</a></h3>
                </div>
              </li>
              <li class="col-sm-12 col-lg-4">
                <div class="course-icon">
                  <h3><a href="#">Curso de prueba</a></h3>
                </div>
              </li>
              <li class="col-sm-12 col-lg-4">
                <div class="course-icon">
                  <h3><a href="#">Curso de prueba</a></h3>
                </div>
              </li>
              <li class="col-sm-12 col-lg-4">
                <div class="course-icon">
                  <h3><a href="#">Curso de prueba</a></h3>
                </div>
              </li>
          
      </ul>


      

    </div>
  </div>
</section>
